@font-face {
    font-family: "Open Sans";
    src: url("fonts/OpenSans-Regular.woff");
    font-weight: normal;
    font-style: normal;
    }
    
@font-face {
    font-family: "Open Sans";
    src: url("fonts/OpenSans-Bold.woff");
    font-weight: bold;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: "Open Sans", "Arial", sans-serif;
    overflow-x: hidden;
}

.header{
    position: relative;
    background: #0a0e34 url("../img/football_767.jpg") no-repeat center / cover;
    padding-top: 30px;
    padding-bottom: 85px;
}

.header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0a0e34;
    opacity: 0.9;
}

.header-container {
    position: relative;
    z-index: 10;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    text-transform: uppercase;
}

.logo {
    display: block;
    fill: #ffffff;
    margin-left: auto;
    margin-right: auto;
}

.logo-text {
    width: 135px;
}

.main-title {
    margin-top: 135px;
    font-size: 28px;
    line-height: 28px;
    letter-spacing: 2px;
}

.main-title-parts {
    display: block;
}

.part-2 {
    margin-top: 29px;
    padding-left: 45px;
}

.app-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app-buttons-header {
    margin-top: 90px;
}

.app-button:hover {
    background-color: #967fdb;
}

.app-button-android {
    margin-top: 15px;
}

.app-button-content {
    display: flex;
    align-items: center;
}

.app-button-image {
    fill: #ffffff;
    height: 24px;
}

.app-button {
    background-color: #5e42b0;
    border-radius: 35px;
    min-height: 35px;
    display: flex;
    align-items: center;
    padding-left: 90px;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    max-width: 280px;
    min-width: 280px;
    box-sizing: border-box;
}

.app-button-text {
    padding-left: 5px;
    font-size: 8px;
}

.app-button-store-name {
    font-weight: bold;
}

.athlets,
.players {
    position: relative;
}

.section-header {
    font-size: 50px;
    line-height: 50px;
    color: #e7e7e7;
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 73vw;
    padding-left: 20px;
}

.athlets-image {
    position: absolute;
    width: 60%;
    top: 65px;
    left: 60px;
}

.article {
    padding: 60px 20px 55px 20px;
}

.article-header::before {
    font-size: 14px;
    color: #000000;
    position: relative;
    top: -7px;
    padding-right: 9px;
    font-weight: bold;
}

.article-header::after {
    content: "";
    display: block;
    position: relative;
    top: -9px;
    width: 15px;
    height: 4px;
    border-radius: 1px;
    background-color: #5e42b0;
}

.article:nth-of-type(1) .article-header::before {
    content: "01";
}

.article:nth-of-type(2) .article-header::before {
    content: "02";
}

.article:nth-of-type(3) .article-header::before {
    content: "03";
}

.athlets .article:nth-of-type(3) .article-header::after {
    background-color: #ffffff;
}

.article:first-of-type {
    padding-top: 83px;
}

.article:nth-of-type(even) {
    background-color: #f5f4f9;
}

.article:nth-of-type(odd) {
    background-color: #fafafa;
}

.players-image {
    position: absolute;
    width: 95%;
    top: 78px;
}

.athlets .article:last-of-type {
    background-color: #5e42b0;
}

.players .article:last-of-type {
    background-color: #090c35;
}

.article-header {
    margin-bottom: 24px;
    color: #c1c1c1;
    text-transform: uppercase;
    font-size: 23px;
    line-height: 23px;
}

.article-content {
    font-size: 15px;
    line-height: 18px;
    color: #000000;
}

.article:last-of-type .article-content,
.athlets .article:last-of-type .article-header {
    color: #ffffff;
}

.players .article:nth-of-type(3) .article-header::before {
    color: #5e42b0;
}

.players .article:nth-of-type(3) .article-header::after {
    background-color: #ffffff;
}

.feature-image,
.feature-picture {
    width: 100%;
    display: block;
}

.feature {
    margin: 36px 20px 79px 20px;
    position: relative;
}

.feature-header {
    margin-bottom: 22px;
    color: #e7e7e7;
    text-transform: uppercase;
    font-size: 28px;
    line-height: 28px;
}

.article-feature {
    position: relative;
}

.feature-num-block {
    width: 70px;
    height: 70px;
    background-color: #5e42b0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -90px;
}

.feature-num-content {
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
}

.feature-num-content::after {
    content: "";
    width: 15px;
    height: 4px;
    border-radius: 1px;
    background-color: #ffffff;
    display: block;
    opacity: 0.3;
    z-index: 2;
}

.footer{
    position: relative;
    background: #0a0e34 url("../img/game_767.jpg") no-repeat center / cover;
}

.footer::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0a0e34;
    opacity: 0.9;
}

.footer-container {
    position: relative;
    padding: 100px 20px 10px 20px;
    z-index: 10;
    text-transform: uppercase;
    color: #ffffff;
}

.footer-logo-container {
    width: 72px;
    height: 74px;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(#7756d7, #50379b);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.download-text {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.download-header {
    font-size: 32px;
}

.download-subtitle {
    font-size: 14px;
    color: #9b8ec1;
}


.app-buttons-footer {
    margin-bottom: 80px;
    margin-top: 75px;
}

.logo-pic {
    width: 58px;
}

@media (min-width: 641px) {

    .app-buttons {
        flex-direction: row;
        justify-content: center;
    }

    .app-button {
        width: 40%;
        flex-shrink: 0;
        flex-grow: 0;
        max-width: 310px;
        padding-left: 0;
        min-height: 75px;
    }

    .app-button-android {
        margin-top: 0px;
        margin-left: 30px;
    }

    .app-button-content {
        margin-left: auto;
        margin-right: auto;
    }

    .app-button-text {
        padding-left: 26px;
        font-size: 14px;
    }

    .athlets-image {
        position: absolute;
        width: 380px;
        top: 0;
        left: auto;
        right: 63%;
    }

    .players-image {
        position: absolute;
        width: 650px;
        top: -50px;
        left: 42%;
    }

    .athlets .article {
        padding: 40px 32px 35px 38%;
    }

    .section-header {
        font-size: 80px;
        margin-top: 84px;
        margin-bottom: 22px;
        padding-left: 38%;
    }

    .players .section-header {
        padding-left: 32px;
    }


    .article-header {
        font-size: 32px;
    }

    .article-header::before {
        font-size: 18px;
    }

    .article-header::after{
        width: 19px;
        height: 5px;
        border-radius: 2px;
    }

    .article-content {
        font-size: 15px;
        padding-left: 34px;
    }

    .article:nth-of-type(1) {
        background-color: #fff;
    }

    .players .article {
        padding: 40px 292px 35px 32px;
    }

    .feature-header {
        font-size: 80px;
    }

    .feature-content {
        font-size: 24px;
    }

    .feature-num-content {
        font-size: 24px;
    }

    .feature-num-content::after {
        width: 24px;
        height: 5px;
        border-radius: 2px;
    }

    .footer-logo-container {
        width: 130px;
        height: 135px;
    }

    .logo-pic {
        width: 102px;
    }

    .download-header {
        font-size: 60px;
    }
    
    .download-subtitle {
        font-size: 26px;
    }
}

@media (min-width: 800px) {
    .download-header {
        font-size: 80px;
    }

    .download-subtitle {
        font-size: 36px;
    }
}

@media (min-width: 641px) and (max-width: 960px) {
    .header{
        background: #0a0e34 url("../img/football_1280.jpg") no-repeat center / cover;
        padding-top: 37px;
        padding-bottom: 90px;
    }

    .header-container {
        padding-left: 55px;
        padding-right: 55px;
    }

    .main-title {
        margin-top: 175px;
        font-size: 64px;
        line-height: 64px;
    }

    .part-2 {
        padding-left: 104px;
    }

    .app-buttons-header {
        margin-top: 300px;
    }

    .app-button-image {
        height: 45px;
    }

    .feature {
        margin: 86px 30px;
    }

    .feature-header {
        margin-bottom: 34px;
    }

    .feature-num-block {
        width: 115px;
        height: 115px;
        top: -170px;
    }

    .footer-container {
        padding: 126px 32px 20px 32px;
    }

    .download-text {
        margin-top: 77px;
    }
    
    .app-buttons-footer {
        margin-top: 282px;
        margin-bottom: 48px;
    }
}

@media (min-width: 961px) {
    .header{
        background: #0a0e34 url("../img/football_1920.jpg") no-repeat center / cover;
        padding-top: 44px;
        padding-bottom: 110px;
    }

    .header-container {
        padding-left: 192px;
        padding-right: 192px;
    }

    .main-title {
        margin-top: 290px;
        font-size: 90px;
        line-height: 90px;
        display: flex;
        flex-direction: column;
    }

    .part-2 {
        padding-left: 0px;
        align-self: flex-end;
        text-align: right;
    }

    .app-buttons-header {
        margin-top: 215px;
    }

    .app-button-image {
        height: 50px;
    }

    .article-feature {
        display: flex;
    }

    .feature-picture {
        width: 50%;
        flex-shrink: 0;
    }

    .section-header {
        font-size: 80px;
        margin-top: 115px;
        margin-bottom: 50px;
    }

    .article-header {
        font-size: 36px;
    }

    .players .section-header {
        padding-left: 192px;
    }

    .players .article {
        padding: 50px 50px 50px 192px;
    }

    .article-content {
        font-size: 20px;
        line-height: 28px;
    }

    .players .article-content {
        width: 40%;
    }

    .players-image {
        position: absolute;
        width: 800px;
        top: -50px;
        left: 42%;
    }


    .feature {
        width: 50%;
        margin: 0;
        flex-shrink: 0;
        flex-grow: 0;
        box-sizing: border-box;
        padding: 20px 6%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .feature-header {
        margin-bottom: 10%;
        line-height: 80px;
    }

    .feature-num-block {
        width: 8vw;
        height: 8vw;
    }

    .article-feature .feature-num-block {
        top: 26%;
        left: -4vw;
    }

    .article-feature:nth-of-type(even) .feature-num-block  {
        left: auto;
        right: -4vw;
    }

    .article-feature:nth-of-type(even) .feature {
        padding-left: 10%;
        padding-right: 6vw;
    }

    .article-feature:nth-of-type(even) .feature-picture {
        order: 1;
    }

    .footer {
        padding-top: 216px;
        padding-bottom: 33px;
    }

    .footer-container {
        margin-left: auto;
        margin-right: auto;
    }

    .download-text {
        margin-top: 0;
    }

    .footer-logo-container {
        margin-left: 0;
        margin-right: 35px;
    }
    
    .footer-download-text {
        display: flex;
        justify-content: center;
    }
    
    .app-buttons-footer {
        margin-top: 130px;
        margin-bottom: 240px;
    }
}

@media (min-width: 961px) and (max-width: 1200px) {
    .feature-header {
        font-size: 60px;
        line-height: 60px;
    }

    .article-feature .feature-num-block {
        top: 18%;
    }

    .article-feature:nth-of-type(1) .feature-num-block {
        top: 20%
    }
}